h1,h2 {
     color: red;
     font-family:Helvetica;
}

table {
        border: 4px solid black;
}
.text-centre {
        text-align:centre;
}
#rounded-img {
        border-radius: 90px;

}

li:hover{
          color: blue;
}

h3:hover{
          color: yellow;
}

h4 { 
      color: grey;s
      text-shadow: 0 0 5px;
}
p{
    text-shadow: 0 0 10px indigo;
    text-decaration-line

body {
background: url(https://th.bing.com/th?id=OIF.hKgbVIlfpql864%2b2dABMoA&w=281&h=180&c=7&r=0&o=7&pid=1.7&rm=3);
background-repeat: no-repeat;
background-size: 1920px 1080px;

}
