h1,h2 {
     color: red;
     font-family:Helvetica;
}

table {
        border: 4px solid black;
}
.text-centre {
        text-align:centre;
}
#rounded-img {
        border-radius: 90px;

}

li:hover{
          color: blue;
}

h3:hover{
          color: yellow;
}

h4 { 
      color: grey;s
      text-shadow: 0 0 5px;
}
p{
    text-shadow: 0 0 10px indigo;
    text-decaration-line
}
